{% extends 'base.html' %}

{% block body %}
<div class="well">
    <h3>Current status</h3>
    <p>Currently I haven't implemented a way to see if it's still working, but
    you can see what's happening here live so you can keep track fairly well.
    </p>
    <p>If there is no more output, it's probably done ;)</p>
    <div id="log_container">
    <pre id="log">
    {% for line in log[-100:][::-1] -%}
    {{ line }}
    {% endfor %}</pre>
    </div>
</div>

<script type="text/javascript">
    /*
    Server reads from redis and has zero load... could do this in a better
    but I see no reason for optimizing just yet ;)
    
    Let's do it quick and dirty
    */

    (function(){
    setInterval(
        function(){
            $('#log_container').load('{{ request.path }} #log');
        },
        1000
    );
    })();
    </script>

{% endblock body %}

